.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba
}

section {
    margin-bottom: 70px
}

@media (max-width: 767px) {
    section {
        margin-bottom:40px
    }
}

.section_slider {
    text-align: center
}

.section_slider .thumb-slider-text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 1300px;
    right: 0;
    margin: auto;
    display: flex;
    padding-right: 15px;
    padding-left: 15px
}

@media (max-width: 1199px) {
    .section_slider .thumb-slider-text {
        max-width:100%
    }
}

.section_slider .thumb-slider-text .slider-text {
    text-align: left;
    color: #000;
    display: inline-block;
    position: relative
}

@media (max-width: 991px) {
    .section_slider .thumb-slider-text .slider-text {
        text-align:left;
        width: 100%;
        padding: 10px
    }
}

.section_slider .thumb-slider-text .slider-text .title {
    color: #121f38;
    font-size: 80px;
    font-weight: 700;
    position: relative
}

@media (max-width: 991px) {
    .section_slider .thumb-slider-text .slider-text .title {
        font-size:20px
    }
}

.section_slider .thumb-slider-text .slider-text .content {
    font-size: 30px;
    position: relative
}

@media (max-width: 991px) {
    .section_slider .thumb-slider-text .slider-text .content {
        font-size:14px
    }
}

.section_slider .thumb-slider-text .slider-text .button {
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    position: relative;
    background: #121f38;
    border-radius: 20px 5px 20px 5px
}

@media (max-width: 991px) {
    .section_slider .thumb-slider-text .slider-text .button {
        border-radius:10px 5px 10px 5px;
        padding: 5px 15px;
        font-size: 14px
    }
}

.section_slider .thumb-slider-text .slider-text .button:hover {
    background: #9a563a
}

.section_slider .swiper-slide-active {
    overflow: hidden
}

.section_slider .swiper-slide-active img {
    transform: scale(1.1);
    transition: all 5s ease
}

.section_slider .swiper-slide-active .slider-text .title {
    animation: backInUp 2s both
}

.section_slider .swiper-slide-active .slider-text .content {
    animation: backInUp 2.5s both
}

.section_slider .swiper-slide-active .slider-text .button {
    animation: backInUp 3s both
}

@keyframes backInUp {
    0% {
        -webkit-transform: translateY(1200px);
        transform: translateY(1200px)
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.section_chinhsach .chinhsach-thumb {
    padding: 30px;
    background: #121f38;
    border-radius: 20px
}

@media (max-width: 767px) {
    .section_chinhsach .chinhsach-thumb {
        padding:10px
    }
}

.section_chinhsach .chinhsach-swiper {
    cursor: grab
}

.section_chinhsach .swiper-slide {
    text-align: center
}

.section_chinhsach .swiper-slide img {
    max-height: 60px;
    width: auto;
    margin-bottom: 15px
}

@media (max-width: 767px) {
    .section_chinhsach .swiper-slide img {
        margin-bottom:5px
    }
}

.section_chinhsach .swiper-slide .text {
    color: #fff
}

.section_chinhsach .swiper-slide .text .title {
    display: block;
    font-size: 16px;
    font-weight: 700
}

.section_chinhsach .title-index {
    margin-bottom: 0
}

.section_chinhsach .content {
    font-size: 16px;
    margin-bottom: 30px !important;
    width: 50%;
    margin: auto;
    text-align: center
}

@media (max-width: 991px) {
    .section_chinhsach .content {
        width:100%
    }
}

@media (max-width: 991px) {
    .section_about .thump-content {
        margin-top:20px
    }
}

.section_about .thumb-about {
    padding: 50px 10px;
    background-size: cover;
    border-radius: 5px
}

.section_about h2 {
    color: #121f38;
    font-weight: 700;
    font-size: 50px
}

@media (max-width: 991px) {
    .section_about h2 {
        font-size:26px
    }
}

.section_about .see {
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    position: relative;
    background: #121f38;
    border-radius: 20px 5px 20px 5px
}

.section_about .see:hover {
    background: #9a563a
}

.section_about .content {
    display: block;
    font-size: 16px;
    margin-bottom: 20px
}

@media (max-width: 991px) {
    .section_about .content {
        font-size:14px
    }
}

.section_about .item {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold
}

@media (max-width: 991px) {
    .section_about .item {
        font-size:16px
    }
}

.section_about .item .icon {
    background: #9a563a;
    padding: 10px;
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 20px 5px 20px 5px;
    margin-right: 10px
}

.section_about .call-about {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-top: 30px;
    font-weight: bold
}

.section_about .call-about svg {
    min-width: 50px;
    height: 50px;
    margin-right: 20px
}

.section_about .call-about a {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #9a563a
}

.section_about .call-about a:hover {
    color: #121f38
}

.section_khuyenmai .thumb-khuyenmai {
    position: relative;
    border-radius: 20px 20px 0 0;
    overflow: hidden
}

@media (max-width: 1199px) {
    .section_khuyenmai .thumb-khuyenmai {
        background:#fff
    }
}

@media (min-width: 1199px) {
    .section_khuyenmai .thumb-khuyenmai:before {
        content:'';
        background-image: linear-gradient(180deg, rgba(255,255,255,0) 0, #fff 100%);
        height: 50%;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0
    }
}

.section_khuyenmai .thumb-khuyenmai .thumb-content {
    padding: 10px;
    text-align: center;
    padding: 10px
}

@media (min-width: 1199px) {
    .section_khuyenmai .thumb-khuyenmai .thumb-content {
        position:absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 50%;
        right: 0
    }
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .content {
    margin-bottom: 20px
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .count-down {
    display: block;
    font-size: 14px;
    padding: 0;
    text-align: center;
    margin-bottom: 10px
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .count-down .timer-view {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .count-down .timer-view .block-timer {
    display: inline-flex;
    color: #fff;
    align-items: center;
    margin: 0 5px;
    font-size: 20px;
    flex-direction: column;
    /* width:70px; */
    height: 70px;
    background: #9a563a;
    border-radius: 20px 5px;
    padding: 0 20px;
}

@media (max-width: 767px) {
    .section_khuyenmai .thumb-khuyenmai .thumb-content .count-down .timer-view .block-timer {
        font-size:14px;
        border-radius: 10px 2px;
        padding: 5px 20px;
        /* width: 50px; */
        height: 50px;
    }
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .count-down .timer-view .block-timer b {
    font-size: 30px;
    line-height: 35px;
    color: #fff
}

@media (max-width: 767px) {
    .section_khuyenmai .thumb-khuyenmai .thumb-content .count-down .timer-view .block-timer b {
        font-size:20px;
        line-height: 22px
    }
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .count-down .timer-view .block-timer:first-child {
    margin-left: 0
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .count-down span {
    display: none
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .button {
    color: #fff;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 15px;
    position: relative;
    background: #121f38;
    border-radius: 20px 5px 20px 5px
}

.section_khuyenmai .thumb-khuyenmai .thumb-content .button:hover {
    background: #9a563a
}

@media (max-width: 767px) {
    .section_khuyenmai .thumb-khuyenmai .thumb-content .button {
        font-size:14px
    }
}

.section_khuyenmai .block-product-list {
    background: #fff;
    padding: 20px
}

.section_khuyenmai .block-product-list .product-action {
    background: #f0efeb
}

.section_khampha {
    position: relative
}

@media (max-width: 1199px) {
    .section_khampha {
        padding:20px
    }
}

@media (max-width: 991px) {
    .section_khampha {
        background:#fff
    }
}

@media (min-width: 991px) {
    .section_khampha:after,.section_khampha:before {
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 100%;
        border-radius: 0 200px 200px 0;
        background-image: linear-gradient(to right, #f0efeb 0%, #9a563a 400%);
        z-index: -1
    }

    .section_khampha:after {
        left: auto;
        right: 0;
        border-radius: 200px 0 0 200px;
        background-image: linear-gradient(to left, #f0efeb 0%, #9a563a 400%)
    }
}

.section_khampha ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly
}

.section_khampha ul li {
    display: flex;
    align-items: center;
    margin-bottom: 20px
}

@media (max-width: 991px) {
    .section_khampha ul li {
        flex-direction:column
    }
}

.section_khampha ul li .content span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #121f38;
    margin-bottom: 5px
}

@media (max-width: 767px) {
    .section_khampha ul li .content span {
        font-size:18px
    }
}

.section_khampha ul li .icon {
    width: 80px;
    min-width: 80px;
    height: 80px;
    background: #9a563a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: 15px;
    position: relative
}

.section_khampha ul li .icon:before {
    content: "";
    position: absolute;
    top: calc(var(--border-gap, 5px) / -1);
    right: calc(var(--border-gap, 5px) / -1);
    bottom: calc(var(--border-gap, 5px) / -1);
    left: calc(var(--border-gap, 5px) / -1);
    border: 1px dashed #9a563a;
    border-radius: inherit;
    transition: all ease 0.4s;
    animation: spin 30s linear infinite
}

.section_khampha ul li .icon img {
    max-height: 40px;
    width: auto
}

.section_khampha ul.right {
    text-align: left
}

@media (max-width: 991px) {
    .section_khampha ul.right {
        text-align:center
    }

    .section_khampha ul.right .icon {
        margin-bottom: 10px
    }
}

.section_khampha ul.right li {
    justify-content: start
}

.section_khampha ul.right li .icon {
    margin-right: 15px
}

.section_khampha ul.left {
    text-align: right
}

.section_khampha ul.left li {
    justify-content: end
}

.section_khampha ul.left li .icon {
    margin-left: 15px
}

@media (max-width: 991px) {
    .section_khampha ul.left {
        text-align:center
    }

    .section_khampha ul.left li .content {
        order: 2
    }

    .section_khampha ul.left .icon {
        margin-bottom: 10px
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

.section_doingu .doingu-slider {
    margin: -7px
}

.section_doingu .item {
    text-align: center;
    padding: 7px
}

.section_doingu .item .thumb-image {
    padding-bottom: 140%;
    overflow: hidden;
    height: auto;
    display: block;
    position: relative;
    background: #e3d8d0;
    border-radius: 130px;
    border-radius: 9999px;
    outline: 0.5px solid rgba(154,86,58,0.4);
    outline-offset: 5px
}

.section_doingu .item .thumb-image:after,.section_doingu .item .thumb-image:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0%;
    height: 100%;
    background-color: #9a563a;
    z-index: 1;
    transition: all ease 0.4s;
    opacity: 0.1
}

.section_doingu .item .thumb-image:after {
    left: auto;
    right: 0;
    top: auto;
    bottom: 0
}

.section_doingu .item .thumb-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
    object-fit: contain;
    z-index: 2;
    transform: scale(1);
    transition: all 0.4s ease
}

.section_doingu .item .title-item {
    margin-top: 20px;
    color: #121f38;
    font-weight: bold;
    margin-bottom: 5px
}

.section_doingu .item .text {
    font-size: 16px
}

.section_doingu .item:hover .thumb-image img {
    transform: scale(1.05);
    transition: all 0.4s ease
}

.section_doingu .item:hover .thumb-image:before {
    width: 50%
}

.section_doingu .item:hover .thumb-image:after {
    width: 50%
}

.section_flashsale .title-name {
    display: inline-flex;
    align-items: center
}

.section_flashsale .title-name img {
    height: 50px;
    width: auto;
    margin-left: 5px;
    position: relative;
    top: -10px
}

.section_flashsale .count-down {
    display: block;
    font-size: 14px;
    padding: 0;
    text-align: center;
    margin-bottom: 10px
}

.section_flashsale .count-down .timer-view {
    display: inline-block;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
    padding: 0 20px 0px 20px
}

@media (max-width: 767px) {
    .section_flashsale .count-down .timer-view {
        padding:0
    }
}

.section_flashsale .count-down .timer-view .block-timer {
    display: inline-flex;
    color: #000;
    align-items: end;
    margin: 0 5px;
    font-size: 20px
}

@media (max-width: 767px) {
    .section_flashsale .count-down .timer-view .block-timer {
        font-size:14px
    }
}

.section_flashsale .count-down .timer-view .block-timer b {
    font-size: 30px;
    margin-right: 5px;
    line-height: 35px;
    font-family: Bricolage Grotesque;
    color: #121f38
}

@media (max-width: 767px) {
    .section_flashsale .count-down .timer-view .block-timer b {
        font-size:20px;
        line-height: 22px
    }
}

.section_flashsale .count-down .timer-view .block-timer:first-child {
    margin-left: 0
}

.section_flashsale .elio-productcount {
    margin-top: 10px
}

.section_flashsale .elio-productcount .countdown .line {
    height: 8px;
    background: #dfdfdf;
    border-radius: 5px
}

.section_flashsale .elio-productcount .countdown .line span {
    width: 62%;
    display: block;
    height: 8px;
    border-radius: 5px;
    background-color: #121f38;
    -webkit-animation: progress_bar_fill 2s linear infinite;
    animation: progress_bar_fill 2s linear infinite;
    background-image: linear-gradient(45deg, rgba(255,255,255,0.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,0.15) 50%, rgba(255,255,255,0.15) 75%, transparent 75%, transparent);
    background-size: 40px 40px
}

.section_flashsale .elio-productcount .countdown .title {
    font-weight: 600;
    margin-top: 2px;
    display: block
}

@keyframes progress_bar_fill {
    0% {
        background-position: 0 0
    }

    100% {
        background-position: 40px 0
    }
}

.popup-video {
    position: fixed;
    z-index: 99999;
    top: 0 !important;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.89);
    display: none
}

.popup-video.active {
    display: flex
}

.popup-video .close-popup-video {
    background: #fff;
    color: #000;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer
}

.popup-video .close-popup-video:hover {
    opacity: 0.8
}

.popup-video iframe {
    height: calc(100vh - 200px);
    width: 1100px
}

@media (max-width: 1100px) {
    .popup-video iframe {
        width:700px
    }
}

@media (max-width: 767px) {
    .popup-video .body-popup {
        padding:0 5px;
        width: 100%
    }

    .popup-video .body-popup iframe {
        width: 100%;
        height: 300px
    }
}

.section_danhgia .item {
    border-radius: 20px;
    position: relative;
    box-shadow: rgba(60,64,67,0.1) 0px 1px 2px 0px,rgba(60,64,67,0.15) 0px 2px 6px 2px;
    padding: 10px;
    background: #9a563a;
    transition: all .4s ease
}

.section_danhgia .item .avatar {
    text-align: center
}

.section_danhgia .item .avatar img {
    max-height: 60px;
    margin-bottom: 15px;
    width: auto
}

.section_danhgia .item .avatar .testimonial h5 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 0;
    font-weight: bold
}

.section_danhgia .item .avatar .testimonial span {
    color: #fff;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600
}

.section_danhgia .item .content {
    color: #fff;
    margin-top: 20px;
    font-size: 16px
}

@media (max-width: 767px) {
    .section_danhgia .item .content {
        font-size:14px
    }
}

.section_danhgia .item:hover {
    border-radius: 80px 20px
}

.section_image .thumb-image {
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    transition: all .4s ease
}

.section_image .thumb-image a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    align-items: center;
    justify-content: center;
    background: #9a563a;
    display: none;
    opacity: 1;
    transition: all .4s ease
}

.section_image .thumb-image a svg {
    width: 60px;
    height: 60px
}

.section_image .thumb-image a svg path {
    fill: #fff
}

.section_image .thumb-image:hover {
    border-radius: 80px 20px
}

.section_image .thumb-image:hover a {
    display: flex;
    opacity: 0.5;
    transition: all .4s ease
}

.section_video .title1 {
    color: #121f38;
    font-weight: 700;
    font-size: 50px
}

@media (max-width: 767px) {
    .section_video .title1 {
        font-size:30px
    }
}

.section_video .title2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold
}

@media (max-width: 767px) {
    .section_video .title2 {
        font-size:16px
    }
}

.section_video .content {
    margin-bottom: 20px;
    font-size: 18px
}

@media (max-width: 767px) {
    .section_video .content {
        font-size:14px
    }
}

.section_video .num {
    display: block;
    font-size: 50px;
    font-weight: bold;
    color: #9a563a;
    line-height: 1.1
}

@media (max-width: 767px) {
    .section_video .num {
        font-size:26px
    }
}

.section_video .title {
    font-size: 20px
}

@media (max-width: 767px) {
    .section_video .title {
        font-size:14px
    }
}

.section_video .thumb-video {
    position: relative;
    overflow: hidden;
    border-radius: 30px 10px
}

@media (max-width: 767px) {
    .section_video .thumb-video {
        border-radius:15px 5px;
        margin-top: 20px
    }
}

@media (max-width: 991px) {
    .section_video .thumb-video {
        margin-top:20px
    }
}

.section_video .thumb-video .btn-video {
    padding: 10px 15px;
    border-radius: 5px;
    background: #121f38;
    display: block;
    margin-bottom: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer
}

@media (max-width: 767px) {
    .section_video .thumb-video .btn-video {
        width:50px;
        height: 50px
    }
}

.section_video .thumb-video .btn-video:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #121f38;
    border-radius: 50%;
    animation: pulse-border 1500ms ease-out infinite;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    z-index: -2;
    border-radius: 50%
}

.section_video .thumb-video .btn-video svg {
    width: 50px;
    height: 50px
}

@media (max-width: 767px) {
    .section_video .thumb-video .btn-video svg {
        width:30px;
        height: 30px
    }
}

.section_video .thumb-video .btn-video svg path {
    fill: #fff
}

.section_video .thumb-video .btn-video:hover {
    background: #9a563a
}

.section_video .thumb-video .btn-video:hover:before {
    background-color: #9a563a
}

@keyframes pulse-border {
    0% {
        transform: scale(1);
        opacity: .67
    }

    100% {
        transform: scale(1.5);
        opacity: 0
    }
}

.product-dichvu-swiper .swiper-slide,.product-swiper .swiper-slide,.productkm-swiper .swiper-slide,.danhgia-slider .swiper-slide,.blog-swiper .swiper-slide {
    display: flex;
    height: auto
}

.product-dichvu-swiper .swiper-slide .item-dichvu,.product-dichvu-swiper .swiper-slide .product-action,.product-dichvu-swiper .swiper-slide .item,.product-dichvu-swiper .swiper-slide .item-blog,.product-swiper .swiper-slide .item-dichvu,.product-swiper .swiper-slide .product-action,.product-swiper .swiper-slide .item,.product-swiper .swiper-slide .item-blog,.productkm-swiper .swiper-slide .item-dichvu,.productkm-swiper .swiper-slide .product-action,.productkm-swiper .swiper-slide .item,.productkm-swiper .swiper-slide .item-blog,.danhgia-slider .swiper-slide .item-dichvu,.danhgia-slider .swiper-slide .product-action,.danhgia-slider .swiper-slide .item,.danhgia-slider .swiper-slide .item-blog,.blog-swiper .swiper-slide .item-dichvu,.blog-swiper .swiper-slide .product-action,.blog-swiper .swiper-slide .item,.blog-swiper .swiper-slide .item-blog {
    width: 100%
}

@media (min-width: 1199px) {
    #quick-view-product .section_khuyenmai .thumb-khuyenmai .thumb-content {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 70%;
        right: 0;
    }
    #quick-view-product .section_khuyenmai .thumb-khuyenmai .thumb-content .title-index {
        font-size: 35px;
    }
    #quick-view-product .section_khuyenmai .thumb-khuyenmai .thumb-content .content {
        font-size: 14px;
    }
    #quick-view-product .section_khuyenmai {
        margin-bottom: 0;
    }
}
